<!DOCTYPE html>
<html>
  <head>
    <title>Unexpected Travels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><b>Unexpected Travels</b></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Packages
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/people">Famous People</a>
              <a class="dropdown-item" href="/nature">Nature Through the Ages</a>
              <a class="dropdown-item" href="/space">Shooting Star</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brochure.pdf" download>Brochure</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{{body}}}

      <br>
      <div class="col-3">
        <b>Navigation</b>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <b>Packages</b>
            <ul class="nav-list">
              <li><a href="/people">Famous People</a>
              <li><a href="/nature">Nature Through the Ages</a>
              <li><a href="/space">Shooting Star</a>
            </ul>
          <li><a href="/contact">Contact Us</a>
          <li><a href="/credits">Credits</a>
        </ul>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>