<h1>Contact Us</h1>

<p>If you are interested in any of the travel packages shown or would like to receive further information,
you can fill in the form below or contact us at <a href="mailto:unexpected_travels@travel.com" data-toggle="tooltip" title="Not an actual email address">unexpected_travels@travel.com</a>. We hope to hear from you soon!

<hr>
<div class="formDiv col-8">
  <form id="contactForm" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="POST">
    <fieldset>
      <fieldset>
        <label for="name">Name: </label>
        <input type="text" name="name">
      </fieldset>

      <fieldset>
        <label for="email">Email Address: </label>
        <input type="email" name="email">
      </fieldset>

      <fieldset>
        <textarea name="body" rows="5" cols="33" placeholder="How can we help?" form="contactForm"></textarea>
      </fieldset>

      <fieldset>
        <input type="checkbox" name="subscribe"> Send me newsletters and updates!
      </fieldset>

      <input type="submit" name="submit_post" class="submit_button">
    </fieldset>
  </form>
</div>