<h1>Credits</h1>
<hr>
<div class="scrollBox">
  <h4>Carousel Pictures</h4>
  <ul>
    <li> NASA Hubble Space Telescope. “Cat's Eye Nebula.” Flickr, 17 Nov. 2017, www.flickr.com/photos/nasahubble/38483375391.
    <li> Shekhanov, Mikhail, and Ukhta Local Museum. “An Artist’s Reconstruction of the Devonian-Period Sosnogorsk Lagoon Just before a Storm.” Sci-News, 24 Oct. 2019, cdn.sci-news.com/images/enlarge6/image_7730e-Parmastega-aelidae.jpg.
    <li> Wikimedia Commons. “The Ceiling of the Sistine Chapel.” Wikimedia Commons, June 2003, commons.wikimedia.org/wiki/File:Lightmatter_Sistine_Chapel_ceiling.jpg.
  </ul>

  <h4>Famous People Pictures</h4>
  <ul>
    <li> “Leonardo Da Vinci.” Leonardo Da Vinci - Paintings, Drawings, Quotes, Facts, &amp; Biography, 2011, www.leonardodavinci.net/.
    <li> Gilbert, Creighton E. “Michelangelo.” Michelangelo | Biography, Facts, &amp; Accomplishments | Britannica, 2 Mar. 2020, www.britannica.com/biography/Michelangelo.
    <li> Van Helden, Albert. “Galileo.” Galileo, 11 Mar. 2020, www.britannica.com/biography/Galileo-Galilei.
  </ul>

  <h4>Nature Through the Ages Pictures</h4>
  <ul>
    <li> The paleobear. “Carboniferous.” Flickr, 13 Dec. 2009, www.flickr.com/photos/paleo_bear/9166514441.
    <li> Atwell, Lucas. “Example of Rare Early Jurassic (Toarcian) Ecosystem, the Ciechocinek Formation of Poland.” Jurassic - Wikipedia, 2 Jan. 2018, en.wikipedia.org/wiki/Jurassic#/media/File:Ciechocinek_Formation_Reconstruction.jpg.
    <li> Hattori, Masato. “Cambrian Sea.” Cambrian Sea, Illustration - Stock Image - C039/0808 - Science Photo Library, www.sciencephoto.com/media/930654/view.
  </ul>

  <h4>Shooting Star Pictures</h4>
  <ul>
    <li> Cowart, Justin. “Olympus Mons - Mars Express.” Olympus Mons - Mars Express | Olympus Mons Towers above the … | Flickr, 24 Dec. 2016, www.flickr.com/photos/132160802@N06/31715862641.
    <li> “Hubble Space Telescope Image of Saturn from 20 June 2019.” File:Saturn - HST 2019-06-20 Full Size.jpg - Wikimedia Commons, 20 June 2019, commons.wikimedia.org/wiki/File:Saturn_-_HST_2019-06-20_full_size.jpg.
    <li> Parker, Alex. “Pluto.” File:Pluto in True Color - High-Res.jpg - Wikimedia Commons, 18 July 2018, commons.wikimedia.org/wiki/File:Pluto_in_True_Color_-_High-Res.jpg.
  </ul>
</div>