<h1>Nature Through the Ages</h1>

<p>Our Nature Through the Ages package takes you through time and space to the times when other creatures walked the Earth!
Take a submarine and dive through the seas of the Devonian, also known as the Age of Fishes! Ride a helicopter and safari
bus through the forests of the Carboniferous, where rainforests and giant insects abound! Travel through the plains and
praries of the Jurassic as you dodge the creatures that have captured many a child's imagination: dinosaurs! Take a trip
back to the beginning of time and spot the odd and unusual creatures of the Cambrian! Every era is an adventure when you
visit Nature Through the Ages!

<br><br>

<p class="carboniferousImg">Carboniferous</p> <p class="jurassicImg">Jurassic</p> <p class="cambrianImg">Cambrian</p>

<img class="natureImgs" src="/imgs/carboniferous.jpg">
<img class="natureImgs" src="/imgs/jurassic.jpg">
<img class="natureImgs" src="/imgs/cambrian.jpg">

<br><br>
<p class="finePrint">Specific package details are fully negotiable. Each package covers a single week and utilizes time-looping
technology in order to keep each package within a single week's time. There are three stops to each package and each stop will
cover a single week. Food and lodgings will be included. The final week of each travel package will take place in the traveler's
current time and will occur at a resort, in order for the traveler to recover from the time-looping technology. Unexpected Travels
is not responsible for any items lost and/or broken while not in the traveler's correct time period.