<h1>Famous People</h1>

<p>Our Famous People package takes you through time (and a little bit of space) to meet interesting and influential 
characters who have influenced human thinking and/or history! Take a trip to late 15th century Italy and meet Leonardo
da Vinci over lunch! Chat with Michelangelo over lunch the day after and maybe you'll get to peek at the Sistine Chapel's
ceiling in progress! Grab dinner with Galileo and discuss the movements of the stars and planets!

<br><br>

<p class="leonardoImg">Leonardo da Vinci</p> <p class="michelangeloImg">Michelangelo</p> <p class="galileoImg">Galileo Galilei</p>

<img class="peopleImgs" src="/imgs/leonardo-da-vinci.jpg">
<img class="peopleImgs" src="/imgs/michelangelo.jpg">
<img class="peopleImgs" src="/imgs/galileo.jpg">

<br><br>
<p class="finePrint">Specific package details are fully negotiable. Each package covers a single week and utilizes time-looping
technology in order to keep each package within a single week's time. There are three stops to each package and each stop will
cover a single week. Food and lodgings will be included. The final week of each travel package will take place in the traveler's
current time and will occur at a resort, in order for the traveler to recover from the time-looping technology. Unexpected Travels
is not responsible for any items lost and/or broken while not in the traveler's correct time period.