<h1>Shooting Star</h1>

<p>Our Shooting Star package takes you through space (and some time) to show you more of the solar
system than someone might normally get! Stop by Mars and hike on the slopes of Olympus Mons! Fly by
Saturn's rings and take advantage of our cross-spectrum cameras to take fabulous pictures! Spot Pluto
as we hop out of the solar system to catch up to the <em>Voyager</em> space probes! And, of course,
circle the <em>Voyager</em> space probes and marvel at how far we've come! If outer space is your
passion or you're just plain tired of things on Earth, pick the Shooting Star package and head out!

<br><br>

<p class="marsImg">Olympus Mons, Mars</p> <p class="saturnImg">Saturn</p> <p class="plutoImg">Pluto</p>

<img class="spaceImgs" src="/imgs/olympus-mons.jpg">
<img class="spaceImgs" src="/imgs/saturn.jpg">
<img class="spaceImgs" src="/imgs/pluto.jpg">

<br><br>
<p class="finePrint">Specific package details are fully negotiable. Each package covers a single week and utilizes time-looping
technology in order to keep each package within a single week's time. There are three stops to each package and each stop will
cover a single week. Food and lodgings will be included. The final week of each travel package will take place in the traveler's
current time and will occur at a resort, in order for the traveler to recover from the time-looping technology. Unexpected Travels
is not responsible for any items lost and/or broken while not in the traveler's correct time period.